---
// Component Imports
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="tedb.dev">
  <div class="grid place-items-center h-screen content-center"></div>
</Layout>
