---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="h-screen w-screen flex flex-col items-center justify-center gap-4"
  >
    <h1 class="text-3xl font-semibold uppercase">Hi, I'm Ted</h1>
    <h2 class="text-xl font-semibold uppercase text-center">
      I'm a software engineer based in London
    </h2>
    <a href="/projects" aria-label="Projects"
      ><h2 class="text-xl font-semibold uppercase hover:underline">
        -- View Projects --
      </h2></a
    >
  </div>
</Layout>
