.idea-header {
    margin-top: 2rem;
}

.idea {
    margin-left: 2rem;
    margin-top: 1rem;
}

.idea-title {
    margin-right: 2rem;
}

.idea-body {
    margin-left: 1.5rem;
}

.logo {
    margin-left: 1.5rem;
}