---
const { title, features, description } = Astro.props;
---

<div class="border-[1px] border-zinc-500 dark:border-zinc-300">
  <a href={`/projects/${title}`}>
    <div class="p-3">
      <div class="flex justify-between items-center h-12">
        <div class="flex flex-row items-center gap-3 h-full">
          <img src={`${title}.png`} class="rounded aspect-square h-full" />
          <span class="uppercase font-semibold text-xl">{title}</span>
        </div>
        <span
          class="uppercase text-xs dark:text-zinc-400 text-gray-300 lg:flex hidden"
          >{features.join(" | ")}</span
        >
      </div>
      <div class="h-[1px] bg-zinc-200 dark:bg-zinc-800 w-full my-3"></div>
      <div class="flex lg:hidden py-1">
        <span class="uppercase text-xs dark:text-zinc-400 text-gray-300"
          >{features.join(" | ")}</span
        >
      </div>
      <span class="">{description}</span>
    </div>
  </a>
</div>
