---
import ThemeToggle from "./ThemeToggle";
---

<nav
  class="w-full h-16 fixed top-0 flex flex-row bg-white dark:bg-black justify-between items-center p-5 border-b-[1px] border-zinc-500 dark:border-zinc-300 uppercase font-semibold"
>
  <a href="/" aria-label="Home">
    <span class="text-lg">tedb.dev</span>
  </a>

  <div class="flex flex-row gap-4 items-center">
    <a href="/projects" aria-label="Projects"><span>projects</span></a>
    <span>|</span>
    <a href="https://github.com/tedbennett" aria-label="Github"
      ><span>github</span></a
    >
    <span>|</span>
    <a href="mailto:ted_bennett@icloud.com" aria-label="Contact"
      ><span>contact</span></a
    >
  </div>

  <ThemeToggle client:load />
</nav>
