---
---

<nav class="w-full h-16 fixed z-50 top-0 uppercase font-semibold">
  <div
    class="w-full h-full flex flex-row justify-between bg-white dark:bg-black items-center p-5 border-b-[1px] border-zinc-500 dark:border-zinc-300"
  >
    <a href="/" aria-label="Home">
      <span class="text-lg hover:underline">tedb.dev</span>
    </a>

    <div class="flex-row gap-4 items-center hidden sm:flex">
      <a href="/projects" aria-label="Projects" class="hover:underline"
        ><span>projects</span></a
      >
      <span>|</span>
      <a
        href="https://github.com/tedbennett"
        aria-label="Github"
        class="hover:underline"><span>github</span></a
      >
      <span>|</span>
      <a
        href="mailto:ted_bennett@icloud.com hover:underline"
        aria-label="Contact"
        class="hover:underline"><span>contact</span></a
      >
    </div>
    <button
      data-theme-button
      class="px-3 py-1 font-semibold uppercase hidden sm:block hover:underline"
    >
      <span data-theme-button-text>light</span>
    </button>
    <button
      id="burger-button"
      class="font-semibold uppercase flex flex-col justify-center gap-[0.35rem] sm:hidden aspect-square"
    >
      <div class="h-[0.15rem] w-6 bg-black dark:bg-white"></div>
      <div class="h-[0.15rem] w-6 bg-black dark:bg-white"></div>
      <div class="h-[0.15rem] w-6 bg-black dark:bg-white"></div>
    </button>
  </div>
  <div
    class="w-full z-50 hidden flex-col p-5 gap-3 sm:hidden bg-white dark:bg-black"
    id="burger-menu"
  >
    <a href="/projects" aria-label="Projects"><span>projects</span></a>
    <a href="https://github.com/tedbennett" aria-label="Github"
      ><span>github</span></a
    >
    <a href="mailto:ted_bennett@icloud.com" aria-label="Contact"
      ><span>contact</span></a
    >
    <button data-theme-button class="font-semibold uppercase text-left">
      <span data-theme-button-text>light</span>
    </button>
  </div>
</nav>

<script>
  import { setTheme, getTheme, Theme } from "../helpers/theme";

  const applyTheme = (theme: Theme) => {
    setTheme(theme);
    const spans = document.querySelectorAll("[data-theme-button-text]");
    spans.forEach((span) => (span.textContent = theme));
  };

  const theme = getTheme();
  applyTheme(theme);

  const buttons = document.querySelectorAll("[data-theme-button]");
  buttons.forEach((button) =>
    button.addEventListener("click", () => {
      const newTheme = getTheme() === "dark" ? "light" : "dark";
      applyTheme(newTheme);
    })
  );

  const burger = document.getElementById("burger-button");
  const menu = document.getElementById("burger-menu");
  burger.addEventListener("click", () => {
    (menu as HTMLElement).style.display =
      (menu as HTMLElement).style.display === "flex" ? "none" : "flex";
  });
  document.addEventListener("click", (event) => {
    let clicked = event.target;
    do {
      if (clicked === menu || clicked === burger) return;
      // Go up the DOM
      clicked = (clicked as HTMLElement)?.parentNode;
    } while (clicked);
    (menu as HTMLElement).style.display = "none";
  });
</script>
