---
import ThemeToggle from "./ThemeToggle";
---

<nav
  class="w-full fixed top-0 flex flex-row bg-white dark:bg-black justify-between items-center p-5 border-b-[1px] border-zinc-100 dark:border-zinc-800"
>
  <a href="/" aria-label="Home">
    <span class="text-lg font-semibold">tedb.dev</span>
  </a>

  <ThemeToggle client:load />
</nav>
