---
---

<nav
  class="w-full h-16 fixed top-0 flex flex-row bg-white dark:bg-black justify-between items-center p-5 border-b-[1px] border-zinc-500 dark:border-zinc-300 uppercase font-semibold"
>
  <a href="/" aria-label="Home">
    <span class="text-lg">tedb.dev</span>
  </a>

  <div class="flex flex-row gap-4 items-center">
    <a href="/projects" aria-label="Projects"><span>projects</span></a>
    <span>|</span>
    <a href="https://github.com/tedbennett" aria-label="Github"
      ><span>github</span></a
    >
    <span>|</span>
    <a href="mailto:ted_bennett@icloud.com" aria-label="Contact"
      ><span>contact</span></a
    >
  </div>
  <button
    data-theme-button
    onclick=""
    class="border-[0px] border-zinc-500 dark:border-zinc-300 rounded-lg px-3 py-1 font-semibold uppercase"
  >
    <span data-theme-button-text>light</span>
  </button>
</nav>

<script>
  import { setTheme, getTheme } from "../helpers/theme";
  const theme = getTheme();
  setTheme(theme);
  const span = document.querySelector("[data-theme-button-text]");
  span.textContent = theme;

  const button = document.querySelector("[data-theme-button]");
  button.addEventListener("click", () => {
    const newTheme = getTheme() === "dark" ? "light" : "dark";
    setTheme(newTheme);
    span.textContent = newTheme;
  });
</script>
