---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="projects">
  <div class="container px-4 sm:px-0 mx-auto py-5">
    <h1 class="text-2xl font-semibold uppercase text-center sm:text-left">
      projects
    </h1>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 h-full gap-5 py-5 items-stretch"
    >
      <Card
        title="pixee"
        description="Social app for drawing and sharing pixel art"
        features={["SwiftUI, Rust, Postgres"]}
        href="https://apps.apple.com/gb/app/pixee-pixel-art/id1636747750"
      />
      <Card
        title="kb"
        description="A command-line kanban board built with Rust and Tui-rs"
        features={["Rust, TUI"]}
        href="https://github.com/tedbennett/kb"
      />
      <Card
        title="kude"
        description="iOS app for creating shared Spotify music queues"
        features={["SwiftUI, Spotify, Firebase"]}
        href="https://apps.apple.com/gb/app/kude/id1604808276"
      />
      <Card
        title="fridgy"
        description="iOS fridge organisation app"
        features={["UIKit, Firebase"]}
        href="https://apps.apple.com/gb/app/fridgly/id1514948934"
      />
      <Card
        title="versa"
        description="iOS app for exporting Spotify and Apple Music playlists"
        features={["SwiftUI, Spotify, Apple Music"]}
        href="https://apps.apple.com/gb/app/versa/id1563552390"
      />
    </div>
  </div>
</Layout>
